#wrapper {
  max-width: 1100px !important;
}

/* Timeline */

.timeline {
  position: relative;
  display: table;
  width: 100%;
  margin: auto;
}

.timeline-header {
  text-align: center;
  margin: 20px;
}

.timeline-event {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin: 20px;
  margin-left: 0;
  border-radius: 3px;
  position: relative;
}

.timeline-event:nth-of-type(odd),
.timeline-event.right {
  margin-left: 55%;
  margin-right: 0;
}

.timeline-event.left {
  margin-left: 0px;
}

.timeline-event h1 {
  font-size: 16px;
  padding-bottom: 15px;
}

.timeline-period {
  position: relative;
}

.timeline-period::after {
  height: calc(100% - 25px);
  display: block;
  position: absolute;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  content: '';
  top: 30px;
  left: calc(50% - 1px);
  border-radius: 5px;
}

@media only screen and (max-width: 750px)  {
  .timeline-event,
  .timeline-event:nth-child(odd),
  .timeline-event.right,
  .timeline-event.left {
    margin-left: 20px;
    width: calc(100% - 20px);
  }

  .timeline-period::after {
    left: 0px;
  }

  .timeline-header {
    text-align: left;
    margin-left: -15px;
  }
}
