<div class="book" style="
    position: relative;">
    <a href="https://www.packtpub.com/web-development/switching-angular-2/?utm_source=RP-mgechev&amp;utm_medium=referral&amp;utm_campaign=1785887114">
    <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/B05081_MockupCover_Normal.jpg" style="width: 140px;">
    <div class="book-discount" style="
      width: 50px;
      height: 35px;
      background: red;
      color: white;
      font-weight: bold;
      /* padding: 19px; */
      border-radius: 25px;
      text-align: center;
      padding-top: 15px;
      font-size: 15px;
      line-height: 13px;
      transform: rotate(-30deg);
      position: absolute;
      top: 0px;">
    50% OFF
    </div>
    <div class="promo-code" style="
      position: absolute;
      font-family: &quot;San Francisco&quot;, Arial;
      font-weight: bold;
      font-size: 13px;">
      Promo code: STANG2
    </div>
  </a>
</div>

