/* Selection ============================================= */
::-moz-selection {
  background-color: lighten($basecolor, 65%);
  color: $basecolor;
  text-shadow: none;
}
::selection {
  background-color: lighten($basecolor, 65%);
  color: $basecolor;
  text-shadow: none;
}

/* Global Classes ======================================== */
.all-caps {
  text-transform: uppercase;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.image-pull-right {
  float: right;
  margin-top: 0;
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
      content: "";
  }
  &:after {
    clear: both;
  }
}
.unstyled-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

/* Global Transition ==================================== */
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
  @include transition(all .2s ease);
}

img.bio-photo {
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  filter: brightness(0.5);
  -webkit-transition: 0.3s -webkit-filter;
  -moz-transition: 0.3s -moz-filter;
  transition: 0.3s filter;
}

img.bio-photo:hover {
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  filter: brightness(1);
}