html {
  font-size: 18px;
}

@media (max-width:  768px)  {
  html {
    font-size: 15px;
  }
}

body {
  font-family: Lato,'Hiragino Kaku Gothic Pro',メイリオ,Meiryo,sans-serif;
  font-size: inherit;
  margin: 0;
  color: #263238;
}

html, body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #e91e63;
}

p {
  margin: 0;
}

ul,ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 { font-size: 1.8rem; line-height: 2rem; margin: 1.5rem 0; }
h2 { font-size: 1.4rem; line-height: 2rem; margin: 1.5rem 0; }
h3 { font-size: 1.2rem; line-height: 1.5rem; margin: 1.5rem 0; }
h4, h5, h6 { font-size: 1rem; line-height: 1.5rem; margin: 1.5rem 0; }

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

main {
  display: block;
}

/* Layouts */
.l-header {
  padding: .5rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px dashed #cfd8dc;
  text-align: center;
}

.l-footer {
  font-size: .8rem;
  padding: 1rem 0;
  border-top: 1px dashed #cfd8dc;
}

.l-container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Parts:logo */
.p-logo {
  font-family: Lobster, cursive;
}

.p-logo a {
  color: #000;
  font-size: 1.6rem;
  line-height: 2rem;
}

/* Parts:section */
section {
  border-top: 2px solid #eceff1;
  padding: 1.5rem 0;
}

section>header {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

section>header span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  letter-spacing: 3px;
  font-size: .7rem;
  padding: .5rem .75rem;
}

/* Parts:facts */
.p-facts {
  list-style: none;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.p-facts:last-child {
  margin-bottom: 0;
}

.p-facts li {
  display: inline-block;
  margin-right: .5rem;
  text-transform: uppercase;
}

.p-facts li header {
  margin-bottom: .25rem;
  font-weight: 700;
}

.p-facts li header a {
  color: #000;
  text-decoration: underline;
}

.p-facts li li {
  display: inline-block;
  margin-right: .5rem;
}

.p-facts li li::after {
  content: ',';
}

.p-facts li li:last-child::after {
  content: '';
}

/* Parts:crumb */
.p-crumb {
  list-style: none;
  margin-bottom: 1rem;
  font-size: .8rem;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-crumb:last-child {
  margin-bottom: 0;
}

.p-crumb li {
  display: inline;
}

.p-crumb li::after {
  content: '›';
  margin: 0 .5rem;
}

.p-crumb li:last-child::after {
  content: '';
}

/* Parts:page-title */
.p-page-title {
  margin-bottom: 2rem;
}

.p-page-title .title {
  margin-bottom: .5rem;
}

/* Parts:share */
.p-share {
  margin-bottom: 1.5rem;
}

.p-share a {
  display: inline-block;
  text-align: center;
  padding: .5rem .5rem;
  margin-right: .25rem;
  font-size: .6rem;
  background-color: #eceff1;
  font-weight: 700k
}

.p-share a.ht { color: #00a4de; }
.p-share a.fb { color: #3b5998; }
.p-share a.tw { color: #1da1f2; }
.p-share a.gp { color: #dd4b39; }
.p-share a.ln { color: #00c300; }

.p-share a.ht::before { content: 'Hatena'; }
.p-share a.fb::before { content: 'Facebook'; }
.p-share a.tw::before { content: 'Twitter'; }
.p-share a.gp::before { content: 'Google+'; }
.p-share a.ln::before { content: 'LINE'; }

/* Parts:terms */
.p-terms {
  padding-left: 2rem;
}

/* Parts:paginator */
.p-paginator {
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.p-paginator a {
  display: inline-block;
  border: 2px solid #eceff1;
  color: #263238;
  line-height: 2rem;
  padding: 0 1rem;
}

/* Parts:article */
.p-articles {
  list-style: none;
}

.p-articles>li {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed #cfd8dc;
}

.p-articles>li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.p-articles.thin>li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

article .article-header {
  display: table-cell;
  height: 6rem;
  vertical-align: middle;
}

article .title {
  margin: 0;
  margin-bottom: .5rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

article .title a {
  color: #000;
}

article .header-wrapper {
  margin-bottom: 1.5rem;
}

article .thumbnail {
  display: block;
  background-position: center;
  background-size: cover;
  background-image: url({{ .Site.BaseURL }}images/default.jpg);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 #333 inset;
  float: left;
  margin-right: 1rem;
}

article .summary {
  margin-bottom: 1.5rem;
}

article .readmore {
  text-align: center;
}

article .readmore a {
  font-size: .8rem;
  color: #000;
  text-decoration: underline;
}

article.li.sm .header-wrapper {
  margin-bottom: 0;
}

.article-body h2 {
  padding: 1rem 0;
  border-bottom: 2px solid #eceff1;
}

.article-body h2:first-child { margin-top: 0; }

.article-body h3 {
  color: #cddc39;
}

.article-body h4 {
  border-left: solid .25rem #cddc39;
  padding: 0 .5rem;
}

.article-body p {
  margin: 1.5rem 0;
  line-height: 1.5rem;
}

.article-body a {
  text-decoration: underline;
}

.article-body ul,
.article-body ol {
  padding-left: 1.5rem;
}

.article-body code {
  display: inline-block;
  font-family: Menlo, consolas, monospace;
  background-color: #eceff1;
  font-size: .8rem;
  padding: 0 .5rem;
  line-height: 1.5rem;
}

.article-body pre {
  margin: 1.5rem 0;
  padding: 1.5rem;
  font-size: .8rem;
  background-color: #263238;
  color: #fff;
  overflow: auto;
}

.article-body pre code {
  background-color: transparent;
}

.article-body blockquote {
  margin: 1.5rem 0;
  padding: .5rem 0;
  font-size: .8rem;
  border-top: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
  color: #607d8b;
}

.article-body blockquote p {
  margin: .5rem 0;
  line-height: 1rem;
}

.article-body strong {
  box-shadow: 0 -.5rem 0 0 #f06292 inset;
}

.article-body em {
  font-style: normal;
  font-weight: 700;
  color: #ff5722;
}

.article-body figure { margin: 1.5rem -2rem; }
.article-body figure.left,
.article-body figure.right {
  width: 15rem;
  height: 12rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.article-body figure.left { float: left; margin-right: 1rem; margin-left: -2rem; }
.article-body figure.right { float: right; margin-left: 1rem; margin-right: -2rem; }

@media (max-width: 768px) {
  .article-body figure { margin: 1.5rem -1rem; }
  .article-body figure.left,
  .article-body figure.right {
    float: none;
    margin: 0 -1rem;
    width: auto;
    height: auto;
  }
}

.article-body figcaption {
  padding: .5rem 0;
  font-size: .8rem;
  text-align: center;
}

.article-body figcaption a {
  color: #263238;
}

