.timeline-intro {
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

.profile #header {
  margin-bottom: 0px;
}

#wrapper {
  max-width: 1100px !important;
}

/* Timeline */

.timeline {
  position: relative;
  display: table;
  width: 100%;
  margin: auto;
}

.timeline-my-story-header {
  text-align: center;
  margin: 20px;
  margin-top: 0;
}

.timeline-event {
  width: 45%;
  padding: 20px;
  text-align: center;
  margin: 20px;
  margin-left: 0;
  border-radius: 3px;
  position: relative;
}

.timeline-event:nth-of-type(odd),
.timeline-event.right {
  margin-left: 55%;
  margin-right: 0;
}

.timeline-event.left {
  margin-left: 0px;
}

.timeline-event.left h1 {
  text-align: right;
}

.timeline-event.right h1 {
  text-align: left;
}

.timeline-event.right img {
  float: left;
  margin-right: 20px;
}

.timeline-event.left img {
  float: right;
  margin-left: 20px;
}

.timeline-event h1 {
  font-size: 16px;
  padding-bottom: 15px;
}

.timeline-period {
  position: relative;
}

.timeline-period::after {
  height: calc(100% - 70px);
  display: block;
  position: absolute;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.03);
  content: '';
  top: 36px;
  left: calc(50% - 1px);
  border-radius: 5px;
}

.timeline-header {
  text-align: center;
}

@media only screen and (max-width: 750px)  {
  .timeline-event,
  .timeline-event:nth-child(odd),
  .timeline-event.right,
  .timeline-event.left {
    margin-left: 20px;
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .timeline-period::after {
    left: 0px;
  }

  .timeline-header {
    text-align: left;
    margin-left: -15px;
  }

  .timeline-event.left h1 {
    text-align: left;
  }
}

.timeline-event section {
  font-size: 14px;
  text-align: left;
}

.timeline-event section p {
  line-height: 19px;
  margin-bottom: 7px;
}

.timeline-event section li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.timeline-event img {
  max-width: 120px;
  float: left;
  margin-bottom: 10px;
}

.getting-started-with-angular img,
.event-sta img {
  width: 70px;
  margin-bottom: 20px;
}

.event-angular-sf img {
  width: 100px;
}

.event-gde img {
  box-shadow: 0px 0px 1px #000;
  margin-bottom: 10px;
}

.event-graduated img {
  width: 80px;
}

.event-rhyme img {
  max-width: 150px;
  margin-top: 10px;
}

.story-header {
  font-size: 15px;
  line-height: 1.5;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 605px;
}
