{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/story.css">
<body>
{{ partial "nav.html" . }}

<div class="profile">
  <section id="wrapper">
      <header id="header">
          <a href='{{ .Site.BaseURL }}about'>
              <img id="avatar" class="x2" src="{{ .Site.BaseURL }}images/avatar.jpg"/>
          </a>
      </header>
  </section>
</div>

<section id="wrapper" class="home">
    {{ .Content }}

    {{ if .Site.Params.enableDisqus }}
        {{ partial "disqus.html" . }}
    {{ end }}

    {{ if .Site.Params.enableDuoshuo }}
        {{ partial "duoshuo.html" . }}
    {{ end }}

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
