{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}

<section id="wrapper" class="talks">

    {{ .Content }}

    <div class="talks-grid" id="talks-root">
    {{ range $key, $value := .Site.Params.Talks }}
        {{ if eq (mod $key 3) 0 }}
            <div class="talks-row">
        {{ end }}
            <div class="talk">
                <div class="talk-background"></div>
                <div class="talk-location">{{ $value.flag }}</div>
                <h1>{{ $value.title }}</h1>
                <section>
                    {{ $value.event | safeHTML }}, {{ $value.date }}
                    <div class="links">
                        {{ if $value.video }}
                            <a href="{{ $value.video }}">📹 video</a>
                        {{ end }}
                        {{ if $value.slides }}
                            <a href="{{ $value.slides }}">📈 slides</a>
                        {{ end }}
                        {{ if $value.eventLink }}
                            <a href="{{ $value.eventLink }}">ℹ️ website</a>
                        {{ end }}
                    </div>
                </section>
            </div>
        {{ if eq (mod $key 3) 2 }}
            </div>
        {{ end }}
    {{ end }}
    </div>

    {{ if .Site.Params.enableDisqus }}
        {{ partial "disqus.html" . }}
    {{ end }}

    {{ if .Site.Params.enableDuoshuo }}
        {{ partial "duoshuo.html" . }}
    {{ end }}

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
