.image-widget {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.prediction {
  text-align: center;
  margin-bottom: 10px;
}

.prediction table {
  margin-bottom: 0px;
  margin-top: 5px;
}

.tab .cam {
  position: relative;
  display: grid;
}

.tab .cam video {
  width: 100%;
}

.tab .cam .btn {
  display: block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0;
  pointer-events: all;
  z-index: 22;
  cursor: pointer;
  transition: 0.2s opacity;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 8em;
}

.tab .cam:hover .btn {
  opacity: 0.6;
}

.tab ul {
  width: 163px;
  display: block;
  margin: auto;
  margin-bottom: 10px !important;
}

.tab li {
  display: inline-block;
  padding: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  margin: 0;
  border-radius: 25px;
  font-size: 0.9em;
}

.tab li.selected {
  background-color: #eee;
}

.upload {
  height: 200px;
  border: 5px dashed #eee;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.upload img {
  margin: auto;
  display: block;
}

.upload input[type='file'] {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.upload.highlight {
  border: 5px dashed #ccc;
}

.upload h1 {
  font-family: Verdana;
  color: #eee;
  font-weight: 600;
  font-size: 25px !important;
  text-align: center;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  height: 35px;
}

.upload.highlight h1 {
  color: #ccc;
}

.upload.filled {
  border: 5px dashed transparent;
  height: auto;
}

.upload.filled h1 {
  display: none;
}

/************** Spinner **************/

.spinner {
  margin: auto;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #ee9d27;
  border-radius: 100%;

  -webkit-animation: sk-bounce 1s infinite ease-in-out;
  animation: sk-bounce 1s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  background-color: #cd2e28;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

iframe {
  margin-top: 15px;
  margin-bottom: 15px;
}

img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
