<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
<!--
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  </div>
-->
{% endif %}

<div class="article-author-side">
  {% include _author-bio.html %}
  <div class="book" style="
      position: relative;">
      <a href="https://www.packtpub.com/web-development/switching-angular-2/?utm_source=RP-mgechev&amp;utm_medium=referral&amp;utm_campaign=1785887114">
      <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/B05081_MockupCover_Normal.jpg" style="width: 140px;">
      <div class="book-discount" style="
        width: 50px;
        height: 35px;
        background: red;
        color: white;
        font-weight: bold;
        /* padding: 19px; */
        border-radius: 25px;
        text-align: center;
        padding-top: 15px;
        font-size: 11px;
        line-height: 12px;
        transform: rotate(-30deg);
        position: absolute;
        top: 0px;">
      50% OFF
      </div>
      <div class="promo-code" style="
        position: absolute;
        font-family: &quot;San Francisco&quot;, Arial;
        font-weight: bold;
        font-size: 13px;">
        Promo code: STANG2
      </div>
    </a>
  </div>
</div>

<div id="index">
  <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
  {% for post in site.posts limit:site.front_page.posts_limit %}
  <article>
    {% if post.link %}
      <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
    {% else %}
      <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt | strip_html | truncate: 260 }}</p>
    {% endif %}
  </article>
  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
